---
import InstagramIcon from "../assets/instagram.svg";
import FacebookIcon from "../assets/facebook.svg";
import Layout from "../layouts/Layout.astro";
import '../styles/cart.css';
---


<Layout title="Order" description="Place your order with Earth Mama's Kitchen">
    

<section
    class="flex flex-col items-center pt-20 rounded-b-4xl rounded-t-2xl transform -translate-y-15 min-h-screen bg-gradient-to-b from-[#1E3A8A] to-[#1E40AF] text-white p-4 mt-15"
>
    <div class="flex gap-1 p-2 bg-amber-50 rounded-full shadow-lg">
        <a
            href="https://www.instagram.com/earthmamaskitchen"
            target="_blank"
            rel="noopener noreferrer"
            class="p-2 rounded-full text-white hover:text-gray-300 bg-amber-500 transition duration-300"
        >
            <InstagramIcon class="size-5" />
        </a>
        <a
            href="https://www.facebook.com/profile.php?id=100067897911008"
            target="_blank"
            class="p-2 rounded-full  text-white hover:text-gray-300 bg-amber-500 transition duration-300"
        >
            <FacebookIcon class="size-5" />
        </a>
    </div>
    <div class="flex flex-row items-center justify-center max-w-4/5 p-4 mb-4">
        <img src="favicon.png"
            alt="Earth mama's kitchen"
            class="size-20">
        <h2 class="text-3xl font-bold ">Earth mama`s Kitchen</h2>
    </div>
    <h3 class="font-merienda text-3xl">Bake like you mean it.</h3>
    <section id="cart-resumen" class="flex flex-col items-end gap-1 w-full max-w-md mt-6 mb-4 p-1 bg-white/10 rounded-2xl shadow-lg">
        <div class="flex flex-col items-center w-full">
            <h1 class="text-2xl ">Resume</h1>
            <div id="cartRoot" class="flex flex-col w-full gap-2 p-2 group mt-2 rounded-2xl bg-white/80 shadow-xl border border-slate-100">Empty</div>
        </div>
        <button id="clearBtn" type="reset" class="p-2 cursor-pointer text-black hover:text-red-600">Delete Cart</button>
    </section>
    <!-- <form class="w-full">
        <div class="flex flex-col gap-2 p-4 rounded-lg shadow-lg w-full max-w-md">
            <input
                type="text"
                placeholder="Your Name"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            />
            <input type="number" placeholder="Your Phone Number" class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500" />
            <input
                type="email"
                placeholder="Your Email"
                class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"
            />
            <button
                type="submit"
                class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300"
            >
                Send Message
            </button>
        </div>
    </form> -->
    <form id="contactForm" class="w-full p-2 flex flex-col gap-2">
    <input  required type="text" name="name" maxlength="20" 
            placeholder="Type your name here"
            class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"/>
    <input  required  type="tel" name="phone" maxlength="10" 
           placeholder="e.g.: 0412345678 o 0212345678" 
           class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-500"/>
    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Send Email</button> 
    <!-- 0424973620 -->
</form>
</section>
</Layout>

<script type="module">
    import { clearCart, updateCartResumen, getCart } from '/js/cart.js';

    export function initConfirmOrderForm() {
    const form = document.getElementById('contactForm');

    form.addEventListener('submit', (e) => {
      e.preventDefault(); 

      const formData = new FormData(form);
      const name = formData.get('name');
      const phone = formData.get('phone');

      const emailText = jsonToEmailText();

      const subject = encodeURIComponent(`${name} - New Order`);
      console.log(emailText);
      const body = encodeURIComponent(`G'day, My name is ${name}.\nMy phone number is ${phone}.\n I would like to order a cake... \n\n${emailText}`);

      window.location.href = `mailto:earthmamaskitchen@gmail.com?subject=${subject}&body=${body}`;
    });
    }

    function jsonToEmailText() {
      let text = "ORDER DETAILS\n------------------------\n\n";

        const data = getCart();
        Object.entries(data).forEach(([key, value]) => {
          if (value) {
            Object.entries(value).forEach(([subKey, subValue]) => {
                if(subKey === 'options' && typeof subValue === 'object' ) {
                    text += `${subKey}:\n`;
                    Object.entries(subValue).forEach(([optionKey, optionValue]) => {
                        if(optionValue.length > 0) {
                            text += `  - ${optionKey}: ${optionValue}\n`;

                        }   
                    });
                } else if (subKey !== 'id') {
                    text += `${subKey}: ${subValue}\n`;
                }
            });
          }
                  text += `\n------------------------\n`;

        });
      return text;
    }


    document.getElementById('clearBtn').addEventListener('click', () => {
        clearCart();
      window.location.reload();
    });

    document.addEventListener('astro:page-load', () => {
        if (!document.querySelector('#cart-resumen')) return;
        updateCartResumen();
        initConfirmOrderForm();
    });

    
</script>


