---
import { EXPLORE } from "../consts/explore";
---

<section class="-mb-75">
    <div class="marquee-horizontal w-screen">
        <div class="h-full overflow-hidden px-0 whitespace-nowrap">
            <span class="font-dancing text-white marquee-font font-bold  will-change-transform animate-marquee-horizontal inline-flex items-center select-none">
                {Array(8).fill('Delights •').join(' ')}
            </span>
        </div>
    </div>
    {
        EXPLORE.map(({ id,title,img, description, props }, index) => (
            <section
                style={{
                    background: `${props.bg}`,
                    transform: `translateY(calc(-100px * ${index}))`,
                }}
                class="flex flex-col p-4 justify-center items-center bg-blue-400 rounded-t-4xl transform pb-12 "
            >
                <h3 class="text-5xl p-2  mt-6 text-center font-bold">{title}</h3>
                <p class="text-center text-xl py-6 px-2">
                    {description}
                </p>
                <a href={`/products/${id}`} class="flex w-2/5 m-auto p-3 bg-white text-black border border-gray-300 font-bold rounded-4xl items-center justify-center">
                View More
                </a>
                <figure class="">
                    <img
                        class="animate-slideIn"
                        src={`${img}.webp`}
                        alt="Floral Cake"
                    />
                </figure>
            </section>
        ))
    }
</section>

<style>
    @keyframes slideIn {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(50px);
        }
    }
    @keyframes marqueeHorizontal {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-25%);
        }
        
    }
    .animate-slideIn {
        animation: slideIn 0.5s ease-in-out both;
        animation-timeline: view(50% 30%);
    }
</style>
