---
import Layout from "../../layouts/Layout.astro";
import { EXPLORE } from "../../consts/explore";
import { OPTION_LABELS, type Product } from "../../models/product.model";
import PreOrderFeaturesSelector from "../../components/PreOrderFeaturesSelector.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  return EXPLORE.map((p) => ({
    params: { slug: p.id },
    props: { selection: p },
  }));
}
const { selection } = Astro.props as { selection: Product };
---

<Layout title={selection.title} description={selection.description}>
  <section
    class="flex flex-col items-center justify-center pt-30 lg:pt-20 gap-10 text-center"
    style={{ background: selection.props.bg }}
  >
    <h1 class="font-calistoga text-5xl lg:text-6xl mx-2 px-6">
      {selection.title}
    </h1>
    <div
      class="grid md:grid-cols-2 max-w-4xl mx-auto px-6 place-items-center items-start"
    >
      <Image
        src={`${selection.img}.webp`}
        class="animate-slideIn w-9/12 md:max-w-[320px] object-contain"
        alt={selection.title}
        width={300}
        height={300}
      />
      <div
        class="p-4 rounded-xl space-y-6 text-black text-left w-full max-w-3xl
           transition-all duration-500 ease-in-out"
      >
        <div class="bg-white p-4 rounded-3xl shadow">
          <h2 class="font-calistoga text-2xl pb-3 font-bold">
            {selection.title}
          </h2>
          <div class="flex flex-row justify-between font-bold py-1">
            {
              selection.priceFrom && (
                <p class="text-lg">From: {selection.priceFrom}$</p>
              )
            }
            {
              selection.leadTimeDays && (
                <p class="text-md">Lead time: {selection.leadTimeDays} days</p>
              )
            }
          </div>
          <p class="text-xl text-left">{selection.description}</p>
        </div>
        <details class="bg-white p-4 rounded-3xl shadow">
          <summary
            class="flex items-center bg-white text-2xl pb-2 font-bold
        text-black cursor-pointer hover:bg-violeta-medio transition"
          >
            {OPTION_LABELS["allergens"]}
            <hr class="my-2 border-pink-400" />
          </summary>
          <div class="text-sm text-slate-700">
            {
              selection.options.allergens
                ? selection.options.allergens.join(", ")
                : "No allergens information available."
            }
          </div>
        </details>
      </div>
    </div>
    <div
      class="w-full sm:max-w-4xl px-6 bg-white p-6 rounded-3xl shadow text-black -mb-5 lg:mb-20"
    >
      <h2 class="text-3xl font-bold mb-4">Pre-order Now</h2>

      <form
        id="preOrderForm"
        method="POST"
        data-product-title={selection.title}
        class="text-black w-full grid grid-cols-1 gap-4"
      >
        <div class="grid sm:grid-cols-2 gap-4">
          <PreOrderFeaturesSelector selection={selection} />
        </div>

        <div class="bg-white p-4 rounded-3xl shadow">
          <label class="text-xl font-medium">Notes</label>
          <textarea
            name="notes"
            rows="3"
            maxlength="150"
            placeholder="E.g. specific requests or preferences"
            class="w-full rounded-xl border border-slate-200 px-3 py-2 text-lg
        focus:outline-none focus:ring-2 focus:ring-violeta-medio resize-none"
          ></textarea>
        </div>

        <div class="flex gap-2 justify-end pt-2 col-span-full">
          <button
            type="reset"
            class="text-xs px-3 py-2 rounded-full border border-slate-200 text-slate-500 hover:bg-slate-50"
          >
            Clean
          </button>

          <button
            type="submit"
            class="text-xs px-4 py-2 rounded-full bg-green-500 text-white font-semibold hover:bg-verde-medio shadow-sm"
          >
            Confirm
          </button>
        </div>
      </form>
    </div>
  </section>
</Layout>
